# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Data files
*.csv
*.json
!*.ipynb
